.custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block; 
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .image-grid {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  
  .thumbnail:hover {
    border: 2px solid #ffffff;
  }
  
  .thumbnail.selected {
    border: 2px solid #ffffff;
  }

  /* EditPage.css */
.color-radio {
  display: inline-block;
  margin-right: 10px;
}

.color-preview {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-radio input[type="radio"]:checked + .color-preview {
  border: 2px solid rgb(255, 255, 255); /* O el color que prefieras para indicar selección */
}

.editText {
  margin-bottom: 40px;
}

.editButton {
  margin-bottom: 80px;
}